html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.darkGradient {
  background: linear-gradient(90deg, #212529, #343a40);
}

#test-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
  height: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Legacy Edge */
}

/* Chrome, Safari, and Modern Edge scrollbar hiding */
.row-container::-webkit-scrollbar {
  display: none;
}

.main-content {
  flex: 1;
}
